.input {
    margin-bottom: 10px;
    position: relative;

    &__title {
        padding: 10px 0;
    }

    &__value {
        width: 250px;
        height: 25px;
        outline: none;
        border: 1px solid #d3d8d9;
        border-radius: 2px;
    }
    
    &__unit {
        position: absolute;
        top: 45px;
        right: 10px;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
    }
}