doctype html
html
    head
        title SEMrush Test task
        meta(name="viewport" content="width=device-width, initial-scale=1")
    body.page
        .page__container
            .page__inner
                .block
                    .block__input
                        include blocks/input/input
                        +input({
                            title: "Стоимость недвижимости",
                            type: "W",
                            unit: '₽',
                            length: 12
                        })
                        +input({
                            title: "Первоначальный взнос",
                            type: "A",
                            unit: '₽',
                            length: 12
                        })
                        include blocks/anchor/anchor
                        +anchor({percent: 10})
                        +anchor({percent: 15})
                        +anchor({percent: 20})
                        +anchor({percent: 25})
                        +anchor({percent: 30})
                        +input({
                            title: "Срок кредита",
                            type: "n",
                            unit: 'лет',
                            length: 2
                        })
                        +input({
                            title: "Процентная ставка",
                            type: "I",
                            unit: '%',
                            length: 2
                        })
                        .block__buttons
                            .button.button--save Save
                            .button.button--clear Clear
                .block
                    .block__result
                        include blocks/result/result
                        +result({
                            title: "Ежемесячный платёж",
                            type: "P"
                        })
                        +result({
                            title: "Необходимый доход",
                            type: "D"
                        })
                        +result({
                            title: "Переплата",
                            type: "L"
                        })
                        +result({
                            title: "Тело кредита",
                            type: "C"
                        })