:root {
    height: 100%;
    font-weight: 400;
    font-family: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.page {
    height: inherit;
    margin: 0;
    background-color: #555;
    font-size: 20px;

    &__container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        height: inherit;
    }

    &__inner {
        margin: auto 0;
        display: flex;
        flex-wrap: wrap;
        padding: 10px
    }
}

.block {
    margin: 0 auto;
    padding: 25px;

    &__result {
        margin-top: 43px;
        max-width: 520px;
        background-color: #ebebeb;
        border-radius: 5px;
        display: flex;
        flex-wrap: wrap;
        white-space: nowrap;
    }

    &__buttons {
        margin-top: 25px;
        white-space: nowrap;
    }
}

.button {
    width: 95px;
    text-align: center;
    display: inline-block;
    padding: 5px 15px;
    border: none;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
    user-select: none;
    transition: All 0.5s ease;

    &--save {
        color: #fff;
        background-color: #50ae33;
        border-color: #50ae33;
        
        &:hover {
            background-color: rgba($color: #50ae33, $alpha: 0.75);
        }

        &:active {
            background-color: #3a8025;
        }
    }

    &--clear {
        color: #a3a3a3;
        background-color: #f6f7f7;
        
        &:hover {
            background-color: rgba($color: #f6f7f7, $alpha: 0.75);
        }

        &:active {
            background-color: #959696;
            color: #fff;
        }
    }
}