:root {
    height: 100%;
    font-weight: 400;
    font-family: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.page {
    height: inherit;
    margin: 0;
    background-color: #555;
    font-size: 20px;

    &__container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        height: inherit;
    }

    &__inner {
        margin: auto 0;
        display: flex;
        flex-wrap: wrap;
        padding: 10px
    }
}

.block {
    margin: 0 auto;
    padding: 25px;

    &__result {
        margin-top: 43px;
        max-width: 500px;
        background-color: #ebebeb;
        border-radius: 5px;
        display: flex;
        flex-wrap: wrap;
    }

    &__buttons {
        margin-top: 25px;
    }
}

.button {
    padding: 5px 15px;
    border: 1px solid #d3d8d9;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
    display: inline-block;

    &--save {
        color: #fff;
        background-color: #50ae33;
        border-color: #50ae33;
    }  

    &--clear {
        color: #a3a3a3;
        background-color: #f6f7f7;
    }
}